<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BigSense Presentations</title>
    <meta name="description" content="Presentations for talks on BigSense">
    <meta name="author" content="Sumit Khanna">
    <style>
    body {
    	background: white;
    	margin: auto;
    	text-align: center;
    }
    #logo {
      margin-top: 50px;
      width: 400px;
    }
    a, a:visited {
      color: green;
    </style>
  </head>
  <body>
  <img src="images/logo.png" alt="BigSense Logo" id="logo" />
  <h1>BigSense.io</h1>